<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>octoblo - octopanel</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <h2>Blowers</h2>
    <section class='blowers'>
      <a href='/blo1' class='blower' id='blo1'>BLO1</a>
      <a href='/blo2' class='blower' id='blo2'>BLO2</a>
      <a href='/blo3' class='blower' id='blo3'>BLO3</a>
      <a href='/blo4' class='blower' id='blo4'>BLO4</a>
      <a href='/blo5' class='blower' id='blo5'>BLO5</a>
      <a href='/blo6' class='blower' id='blo6'>BLO6</a>
      <a href='/blo7' class='blower' id='blo7'>BLO7</a>
      <a href='/blo8' class='blower' id='blo8'>BLO8</a>
    </section>
    <h2>Cable Winches</h2>
    <section class='motors'>
      <a href=/mot1 class='motor'>MOT1</a>
      <a href=/mot2 class='motor'>MOT2</a>
      <a href=/mot3 class='motor'>MOT3</a>
      <a href=/mot4 class='motor'>MOT4</a>
      <a href=/mot5 class='motor'>MOT5</a>
      <a href=/mot6 class='motor'>MOT6</a>
      <a href=/mot7 class='motor'>MOT7</a>
      <a href=/mot8 class='motor'>MOT8</a>
    </section>

    <script src="js/script.js"></script>
  </body>
</html>
