<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>octoblo - octopanel</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <h2>Blowers</h2>
    <section class='blowers'>
      <a href='/blo1' class='blower' id='blo1'>BLO1</a>
      <a href='/blo2' class='blower' id='blo2'>BLO2</a>
      <a href='/blo3' class='blower' id='blo3'>BLO3</a>
      <a href='/blo4' class='blower' id='blo4'>BLO4</a>
      <a href='/blo5' class='blower' id='blo5'>BLO5</a>
      <a href='/blo6' class='blower' id='blo6'>BLO6</a>
      <a href='/blo7' class='blower' id='blo7'>BLO7</a>
      <a href='/blo8' class='blower' id='blo8'>BLO8</a>
    </section>
    <section class='blowers-choreo'>
      <a href='/bloall' class='blower' id='bloall'>BLO ALL</a>
    </section>
    <h2>Cable Winches</h2>
    <section class='winches'>
      <a href='/winch01/forward' class='winch'>winch01 forward</a>
      <a href='/winch01/backward' class='winch'>winch01 backward</a>
      <a href='/winch01/stop' class='winch'>winch01 stop</a>
    </section>

    <script src="js/script.js"></script>
  </body>
</html>
