<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>octoblow</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <section class='blowers'>
      <a href='#' class='blower' id='blo1'>BLO1</a>
      <a href=/blo2 class='blower'>BLO2</a>
      <a href=/blo3 class='blower'>BLO3</a>
      <a href=/blo4 class='blower'>BLO4</a>
      <a href=/blo5 class='blower'>BLO5</a>
      <a href=/blo6 class='blower'>BLO6</a>
      <a href=/blo7 class='blower'>BLO7</a>
      <a href=/blo8 class='blower'>BLO8</a>
    </section>
    <section class='motors'>
      <a href=/mot1 class='motor'>MOT1</a>
      <a href=/mot2 class='motor'>MOT2</a>
      <a href=/mot3 class='motor'>MOT3</a>
      <a href=/mot4 class='motor'>MOT4</a>
      <a href=/mot5 class='motor'>MOT5</a>
      <a href=/mot6 class='motor'>MOT6</a>
      <a href=/mot7 class='motor'>MOT7</a>
      <a href=/mot8 class='motor'>MOT8</a>
    </section>

    <script src="js/script.js"></script>
  </body>
</html>
