h2 {
  margin: 2rem 0 0 5rem;
  font-size: 2rem;
}

.blowers-container {
  display: flex;
  flex-direction: row;
}

.blowers {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 5rem auto;
}

.blowers-choreo {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
}

.blower {
  background-color: grey;
  width: 10rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  margin: 1rem;
}

.bloall {
  background-color: grey;
  width: 10rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  margin: 1rem;
}

.blower__active {
  background-color: lightgreen;
  width: 10rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  margin: 1rem;
}

.winches {
  display: flex;
  margin: 5rem auto;
}

.winches-choreo {
  display: flex;
  margin: 5rem auto;
}

.winch {
  background-color: grey;
  width: 10rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  margin: 1rem;
}
